@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  outline: none !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  min-height: 100%; }

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #333333; }

ol, ul {
  list-style: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  button:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

input[type=text], textarea {
  -webkit-appearance: none; }

a:hover {
  color: #ab4d62 !important; }

.font-lato {
  font-family: 'Lato', sans-serif; }

.clearfix {
  clear: both; }

.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.m5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.m10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.m15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.m20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.m25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.m30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.m35 {
  margin: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.m40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.m45 {
  margin: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.m50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.m55 {
  margin: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.m60 {
  margin: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.m65 {
  margin: 65px !important; }

.mt65 {
  margin-top: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.p5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.p10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.p15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.p20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.p25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.p30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.p35 {
  padding: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.p40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.p45 {
  padding: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.p50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.p55 {
  padding: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.p60 {
  padding: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.p65 {
  padding: 65px !important; }

.pt65 {
  padding-top: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.line::before {
  content: "";
  background: #f57365;
  width: 88px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(25px); }

.line-left::before {
  content: "";
  background: #f57365;
  width: 88px;
  height: 1px;
  margin-right: auto;
  display: block;
  transform: translateY(25px); }

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #fff;
  background-color: transparent; }

.carousel-indicators .active {
  background-color: #fff;
  max-width: 12px;
  margin: 0 3px;
  height: 12px; }

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #746873; }

.carousel-caption {
  bottom: 14% !important; }

.carousel-indicators {
  bottom: 30px; }

.banner-container .banner-active {
  position: relative;
  background: url(../images/bg-top.png) center center/cover;
  height: 100vh; }
  .banner-container .banner-active .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .banner-container .banner-active .banner-content h4 {
      font-size: 36px;
      font-weight: bold;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      color: #e8d7d9;
      line-height: 0.833; }
    .banner-container .banner-active .banner-content h3 {
      font-size: 100px;
      font-weight: 700px;
      color: #ffffff;
      letter-spacing: 5px; }
    .banner-container .banner-active .banner-content .start button {
      font-size: 14px;
      font-weight: bold;
      line-height: 2.143;
      color: #ffff;
      padding: 12px 80px;
      border: 3px solid #ffffff;
      margin-top: 15px;
      margin-bottom: 30px; }
      .banner-container .banner-active .banner-content .start button:hover {
        color: #ab4d62 !important; }
    .banner-container .banner-active .banner-content .start button.btn-outline-dark:focus, .banner-container .banner-active .banner-content .start .btn-outline-dark.focus {
      box-shadow: 0 0 0 0.2rem rgba(234, 236, 238, 0.5); }
    .banner-container .banner-active .banner-content h5 {
      font-size: 14px;
      line-height: 2.143;
      color: #ffffff; }
      .banner-container .banner-active .banner-content h5 .rewared {
        text-decoration: underline !important;
        color: #ffff; }

.menu-top .container {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  text-align: center; }
  .menu-top .container .navbar {
    font-size: 14px;
    color: white;
    font-weight: 600; }
    .menu-top .container .navbar .navbar-nav li {
      margin-left: 15px; }
      .menu-top .container .navbar .navbar-nav li a.nav-link:hover {
        color: #ab4d62 !important; }

.navbar-light .navbar-nav .nav-link {
  color: white !important; }

.products .services {
  margin: 100px 0 90px 0; }
  .products .services .title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0 30px 0; }
  .products .services .description {
    font-size: 16px;
    line-height: 1.569;
    color: #858585; }

.information {
  background: #dfdede; }
  .information .infor-left {
    margin-top: 100px; }
    .information .infor-left .infor-image img {
      width: 100%; }
  .information .infor-right .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px; }
  .information .infor-right .infor-content .text-content {
    font-size: 16px;
    line-height: 1.525;
    color: #636363;
    margin-bottom: 40px; }
  .information .infor-right .infor-footer .app-icon {
    margin-left: 6px; }
    .information .infor-right .infor-footer .app-icon:hover {
      color: red; }

@media (min-width: 768px) {
  .infor-right {
    margin: 80px 0px 90px 0px; } }

@media (min-width: 992px) {
  .infor-right {
    margin: 170px 0px 0px 90px; } }

.slides .carousel-inner .carousel-item img.bg-img {
  width: 100%; 
  height: 60vh;
}

.slides .carousel-inner .carousel-item .carousel-caption .carousel-image {
  border: 4px solid #938a92; }

.slides .carousel-inner .carousel-item .carousel-caption .carousel-content {
  width: 100%;
  margin-top: 30px;
  font-size: 30px;
  line-height: 1.525;
  color: #837782; }

.slides .carousel-inner .carousel-item .carousel-caption .carousel-address {
  font-size: 18px;
  color: #837782;
  margin-top: 30px;
  font-style: italic; }

.category .category-header {
  margin-top: 95px;
  margin-bottom: 50px; }
  .category .category-header .title {
    font-size: 18px;
    color: #000000;
    font-weight: 550; }

.category .category-main .box {
  position: relative; }
  .category .category-main .box img {
    width: 100%; }
  .category .category-main .box .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    color: #fff; }
    .category .category-main .box .content h5 {
      font-size: 18px;
      font-family: "Times New Roman";
      font-weight: 500;
      font-style: italic; }
    .category .category-main .box .content h2 {
      font-size: 34px;
      color: white;
      font-weight: 550;
      letter-spacing: 2px;
      line-height: 1.254; }

.category .category-footer {
  margin-top: 50px;
  margin-bottom: 50px; }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 34px;
    font-weight: 500;
    color: #000; }
  .category .category-footer .evaluate-category .item .description {
    font-size: 16px;
    color: #888888;
    font-weight: 500; }

@media (min-width: 768px) {
  .category-main {
    display: flex;
    flex-grow: wrap;
    height: 100%; }
  .evaluate-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; } }

.footer-container {
  border-top: 1px solid #e2e2e2;
  background: #f7f7f7;
  padding: 35px 0 35px 0;
  font-size: 14px;
  letter-spacing: .8px; }
  .footer-container .footer-left {
    color: #c1c1c1; }
  .footer-container .footer-right {
    color: #8b8b8b; }
    .footer-container .footer-right span {
      color: #000000;
      font-weight: bold; }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1236px) {
  .information .infor-right {
    margin: 156px 0px 0px 44px; }
  .slides .carousel-inner .carousel-item img.bg-img {
    width: 100%;
    height: 50vh !important; }
  .category .category-main .box .content h2 {
    font-size: 23px; }
  .category .category-main .box .content h5 {
    font-size: 15px; }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 27px; }
  .category .category-footer .evaluate-category .item .description {
    font-size: 12px; } }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .information .infor-right {
    margin: 83px 0px 59px 0px; }
  .slides .carousel-inner .carousel-item img.bg-img {
    width: 100%;
    height: 50vh; }
  .category .category-main .box .content
h2 {
    font-size: 18px; }
  .category .category-main .box h5 {
    font-size: 13px; }
  .category .category-footer .evaluate-category .item h2 {
    font-size: 28px; }
  .category .category-footer .evaluate-category .item .description {
    font-size: 12px; } }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 480px) and (max-width: 767px) {
  .information .infor-right {
    margin: 83px 0px 59px 0px; }
  .slides .carousel-inner .carousel-item img.bg-img {
    width: 100%;
    height: 40vh !important; }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-content {
    font-size: 25px; }
  .category .category-footer .evaluate-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; }
    .category .category-footer .evaluate-category .item h2 {
      font-size: 18px; }
    .category .category-footer .evaluate-category .item .description {
      font-size: 9px; }
  .footer-container {
    font-size: 11px; } }

/* // Extra Small devices (320px and up) */
@media (min-width: 320px) and (max-width: 479px) {
  .banner-container .banner-active .banner-content h3 {
    font-size: 64px; }
  .banner-container .banner-active .banner-content h4 {
    font-size: 27px; }
  .banner-container .banner-active .banner-content h5 {
    font-size: 10px; }
  .menu-top .container .navbar {
    font-size: 9px !important; }
  .products .services {
    margin: 26px 0 11px 0; }
  .information .infor-right {
    margin: 83px 0px 59px 0px; }
  .slides .carousel-inner .carousel-item img.bg-img {
    width: 100%;
    height: 35vh !important; }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-content {
    font-size: 14px;
    margin-top: 15px; }
  .slides .carousel-inner .carousel-item .carousel-caption .carousel-address {
    font-size: 12px; }
  .category .category-footer .evaluate-category {
    display: flex;
    flex-wrap: wrap; }
    .category .category-footer .evaluate-category .item {
      width: 50%;
      margin-bottom: 10px; }
      .category .category-footer .evaluate-category .item h2 {
        font-size: 18px; }
      .category .category-footer .evaluate-category .item .description {
        font-size: 9px; }
  .footer-container {
    font-size: 6px; } }
